<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>join</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4>회원가입</h4>
                </div>
                <div class="card-body">
                    <form id="joinForm" th:action="@{/join}" th:object="${joinForm}" method="post">
                        <div class="mb-3" th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                        </div>
                        <div class="mb-3">
                            <label for="loginId">아이디</label>
                            <input type="text" class="form-control" id="loginId" data-desc="아이디" th:field="*{loginId}" placeholder="아이디 입력">
                            <p id="loginId-error" th:errors="*{loginId}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="비밀번호 입력">
                            <p id="password-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <label for="name">이름</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="이름 입력">
                            <p id="name-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <label for="nickname">닉네임</label>
                            <input type="text" class="form-control" id="nickname" data-desc="닉네임" th:field="*{nickname}" placeholder="닉네임 입력">
                            <p id="nickname-error" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <label for="email">이메일</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="이메일 입력">
                            <p id="email-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
                        </div>
                        <div class="mb-3">
                            <label for="cellPhone">휴대전화</label>
                            <input type="text" class="form-control" id="cellPhone" th:field="*{cellPhone}" placeholder="전화번호 입력">
                            <p id="cellPhone-error" th:if="${#fields.hasErrors('cellPhone')}" th:errors="*{cellPhone}">Incorrect date</p>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark">가입하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript">
    const loginIdRegexp = /^(?=.*[a-z])[\da-z]{5,20}$/;
    const passwordRegexp = /^(?!.*[\sㄱ-힣])(?=.*[a-zA-Z])(?=.*\d)(?=.*[!#$%&'()*+,./:;<=>?@₩^_`{|}~"\[\]\-]).{8,20}$/;
    const nameRegexp = /^[a-zA-Z가-힣]{1,10}$/;
    const nicknameRegexp = /^[\da-zA-Zㄱ-힣]{2,12}$/;
    const emailRegexp = /^(?!.*(\.\.|\\\\|\s)).+@[\da-zA-Z.\-]+\.[\da-zA-Z]+$/;
    const cellPhoneRegexp = /^01[016-9]\d{3,4}\d{4}$/;

    function getRegexp(id) {
        if (id === 'loginId') {
            return new RegExp(loginIdRegexp);
        } else if (id === 'password') {
            return new RegExp(passwordRegexp);
        } else if (id === 'name') {
            return new RegExp(nameRegexp);
        } else if (id === 'nickname') {
            return new RegExp(nicknameRegexp);
        } else if (id === 'email') {
            return new RegExp(emailRegexp);
        } else if (id === 'cellPhone') {
            return new RegExp(cellPhoneRegexp);
        }
    }

    function getMessage(id) {
        let message = '';
        if (id === 'loginId') {
            message = '5~20자의 영문 소문자, 숫자만 사용 가능합니다. (특수문자, 공백 사용 불가)';
        } else if (id === 'password') {
            message = '8~30자의 영문 대 소문자, 숫자, 특수문자를 포함해야 합니다.';
        } else if (id === 'name') {
            message = '한글과 영어 대 소문자만 사용 가능합니다. (특수문자, 공백 사용 불가)';
        } else if (id === 'nickname') {
            message = '2~12자의 한글과 영어 대 소문자, 숫자만 사용 가능합니다. (특수문자, 공백 사용 불가)';
        } else if (id === 'email') {
            message = '올바른 이메일 형식을 입력해주세요.';
        } else if (id === 'cellPhone') {
            message = '잘못된 형식의 전화번호입니다.';
        }
        return message;
    }

    function validate(element) {
        let id = element.id;
        let value = element.value;
        let regexp = getRegexp(id);
        let errorElement = document.getElementById(`${id}-error`);
        if (errorElement == null) {
            errorElement = document.createElement('p');
            errorElement.setAttribute('id', `${id}-error`)
            element.after(errorElement);
        }
        if (value === '') {
            element.setAttribute('class', 'form-control is-invalid');
            errorElement.style.display = 'block';
            errorElement.textContent = '필수 정보입니다.';
            return false;
        }
        if (!regexp.test(value)) {
            element.setAttribute('class', 'form-control is-invalid');
            errorElement.style.display = 'block';
            errorElement.textContent = getMessage(id);
            return false;
        }

        //유효성 검증 성공
        errorElement.style.display = 'none';
        element.setAttribute('class', 'form-control');
        return true;
    }

    async function duplicateCheck(element) {
        let id = element.id;
        let value = element.value;
        let regexp = getRegexp(id);

        //유효성 검증 실패
        if (value === '' || !regexp.test(value)) {
            return false;
        }

        let errorElement = document.getElementById(`${id}-error`);
        if (errorElement == null) {
            errorElement = document.createElement('p');
            errorElement.setAttribute('id', `${id}-error`);
            element.after(errorElement);
        }

        let exists = await fetch('/api/members/validations?' + new URLSearchParams(`${id}=${value}`))
            .then(response => response.json());
        if (exists) {
            element.setAttribute('class', 'form-control is-invalid');
            errorElement.style.display = 'block';
            errorElement.textContent = `이미 사용중인 ${element.dataset.desc}입니다.`;
            return false;
        }

        //중복 체크 통과
        element.setAttribute('class', 'form-control is-valid');
        errorElement.style.display = 'block';
        errorElement.textContent = `사용 가능한 ${element.dataset.desc}입니다.`;
        return true;
    }

    let loginId = document.getElementById('loginId');
    let password = document.getElementById('password');
    let name = document.getElementById('name');
    let nickname = document.getElementById('nickname');
    let email = document.getElementById('email');
    let cellPhone = document.getElementById('cellPhone');

    //유효성 검증 등록
    loginId.addEventListener('focusout', e => validate(e.target));
    password.addEventListener('focusout', e => validate(e.target));
    name.addEventListener('focusout', e => validate(e.target));
    nickname.addEventListener('focusout', e => validate(e.target));
    email.addEventListener('focusout', e => validate(e.target));
    cellPhone.addEventListener('focusout', e => validate(e.target));

    //중복 체크 등록
    loginId.addEventListener('focusout', e => duplicateCheck(e.target));
    nickname.addEventListener('focusout', e => duplicateCheck(e.target));

    //폼 전송 검증
    async function validateFormComplete() {
        let b1 = validate(password);
        let b2 = validate(name);
        let b3 = validate(email);
        let b4 = validate(cellPhone);
        let b5 = validate(loginId) && await duplicateCheck(loginId);
        let b6 = validate(nickname) && await duplicateCheck(nickname);
        return b1 && b2 && b3 && b4 && b5 && b6;
    }

    let joinForm = document.getElementById('joinForm');
    joinForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        if (await validateFormComplete()) {
            joinForm.submit();
        }
    });
</script>
</body>
</html>